{%- if section.settings.popup -%}
    {{ 'popup.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'popup.js' | asset_url }}" defer="defer"></script>

    <section id="popup" class="popup"
             data-popup-delay={{ section.settings.popup_delay | json }} data-show-once={{ section.settings.show_once | json }}>
        <div class="popup__container">
            <div class="popup__content">
                <button type="button" class="popup__close js-popup-close">
                    {% render 'icon-close' %}
                </button>
                <div class="popup__image-wrapper">
                    <img src="{{ section.settings.image | img_url: 'master' }}" alt="Popup image">
                </div>
                <div class="popup__details-wrapper">
                    <div class="popup__title">
                        <p>{{ section.settings.subtitle }}</p>
                        <h3>{{ section.settings.title }}</h3>
                    </div>
                    <ul class="popup__products">
                        {%- for block in section.blocks -%}
                            {% assign product = all_products[block.settings.product] %}
                            <li class="popup__product-item"
                                data-product-id="{{ product.selected_or_first_available_variant.id }}">
                                <div class="popup__product-image">
                                    <img src="{{ product.featured_media | img_url: '600' }}" alt="">
                                </div>
                                <div class="popup__product-details">
                                    <p>{{ product.vendor }}</p>
                                    <a href="{{ product.url }}">
                                        <h4>{{ product.title | escape }}</h4>
                                    </a>
                                    <p>SKU: {{ product.selected_or_first_available_variant.sku }}</p>
                                    <p>{{ product.price | money }}</p>
                                    <p class="price-item--regular">{{ product.compare_at_price | money }}</p>
                                </div>
                            </li>
                        {%- endfor -%}
                    </ul>
                    <form id="popupForm">
                        <button type="submit" class="popup__button">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{%- endif -%}

{% schema %}
{
  "name": "Popup",
  "settings": [
    {
      "type": "checkbox",
      "id": "popup",
      "label": "Enable popup"
    },
    {
      "type": "header",
      "content": "Popup settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Sale"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured products"
    },
    {
      "type": "range",
      "id": "popup_delay",
      "min": 0,
      "max": 120,
      "step": 5,
      "unit": "sec",
      "label": "Popup delay in seconds",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "show_once",
      "label": "Show once per customer"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 2,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}